@{
    ViewData["Title"] = "مدیریت مهمانها";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/CSS/manage-chat-access.css">
    <link rel="stylesheet" href="~/Fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="access-header">
            <div class="header-content">
                <div class="header-left">
                    <i class="fa fa-user-plus header-icon"></i>
                    <div>
                        <h1>مدیریت مهمانها</h1>
                        <p>تایید و مدیریت دسترسی مهمانها به سیستم چت</p>
                    </div>
                </div>
                <a href="/ManageUser/Index" class="btn-back">
                    <i class="fa fa-arrow-left"></i>
                    بازگشت
                </a>
            </div>
        </div>

        <div class="access-container">
            <div class="panel available-panel">
                <div class="panel-header">
                    <div class="panel-title">
                        <i class="fa fa-users"></i>
                        <h3>مهمانهای در انتظار تایید</h3>
                        <span class="badge" id="pendingCount">0</span>
                    </div>
                    <div class="search-box">
                        <i class="fa fa-search"></i>
                        <input type="text" id="searchPendingGuests" placeholder="جستجو..." />
                    </div>
                </div>
                <div class="panel-body" id="pendingGuestsList">
                    <div class="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                        <p>در حال بارگذاری...</p>
                    </div>
                </div>
            </div>

            <div class="transfer-controls">
                <button id="approveAllBtn" class="btn-transfer" title="تایید همه">
                    <i class="fa fa-angle-double-left"></i>
                </button>
                <button id="rejectAllBtn" class="btn-transfer" title="رد همه">
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>

            <div class="panel allowed-panel">
                <div class="panel-header">
                    <div class="panel-title">
                        <i class="fa fa-check-circle"></i>
                        <h3>مهمانهای تایید شده</h3>
                        <span class="badge badge-success" id="approvedCount">0</span>
                    </div>
                    <div class="search-box">
                        <i class="fa fa-search"></i>
                        <input type="text" id="searchApprovedGuests" placeholder="جستجو..." />
                    </div>
                </div>
                <div class="panel-body" id="approvedGuestsList">
                    <div class="empty-state">
                        <i class="fa fa-user-times"></i>
                        <p>هیچ مهمانی تایید نشده است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()
    <script src="~/JS/jquery-3.6.0.min.js"></script>
    <script src="~/JS/guest-access-control.js"></script>
</body>
</html>
