@model ERP.Models.Group

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">ایجاد گروه جدید</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Name" class="font-weight-bold"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">ایجاد</button>
                <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

